h1 {
    font-size: 35px;
    color: blueviolet;
    font-weight: bolder;
}

p  {
   font-size: 15px;
   margin-bottom: 35px;
}

p1 {
    font-weight: bolder;
    color: yellowgreen;
}

p2 {
    font-weight: bolder;
    color: yellowgreen;
}

p3 {
    font-weight: bolder;
   color: yellowgreen;
}

p4 {
    font-weight: bolder;
    color: yellowgreen;
}
p5 {
    font-weight: bolder;
    color: yellowgreen;
}

p6 {
    font-weight: bolder;
    color: yellowgreen;
}

p7 {
    font-weight: bolder;
    color: yellowgreen;
}